html,
body {
	margin: 0;
	padding: 0;
	border: none;
	text-align: center;
}

html,
body,
#canvas {
	width: 80%;
	height: 80%;
	position: fixed;
}
#Left {
	z-index: 1;
}
#Right {
	z-index: 1;
}
#Middle {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#Upper {
	height: 22vh;
}

#Lower {
	height: 50%;
	width: 100%;
	position: static;
	z-index: 0;
}
#GlobeTitle {
	position:relative;
	z-index: 1;
	width: 100%;
	background-color: #1e1e2e;
}
#GlobeTitle>p {
	position:relative;
	z-index: 1;
}
