html,
body {
	margin: 0;
	padding: 0;
	border: none;
	text-align: center;
}

html,
body,
#canvas {
	width: 80%;
	height: 80%;
	position: fixed;
}
#canvas {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0%;
	top: 2.5vw;
	z-index: 0;
}
#Left {
	z-index: 1;
}
#Right {
	z-index: 1;
}
#GlobeItems {
	width: 100%;
}
#GlobeTitle {
	position:relative;
	z-index: 1;
	width: 100%;
	background-color: #1e1e2e;
}
#GlobeTitle>p {
	position:relative;
	z-index: 1;
}
